* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

body {
  font-family: Raleway, sans-serif;
}

.todo-container {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 10px gray;
  margin-top: 30px;
  border-radius: 10px;
}

.header {
  border-bottom: 1px solid rgb(228, 228, 228);
  vertical-align: middle;
  padding: 20px;
  font-size: large;
}

.footer {
  padding: 20px;
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(243, 243, 243);
  padding-left: 10px;
  padding-right: 10px;
  cursor: move;
}

.editable {
  width: 40vw;
  padding: 20px;
  outline: none;
  border: none;
}

.icon {
  color: rgb(128, 128, 128);
}

.add-list {
  width: 70%;
  padding: 10px;
  font-family: Raleway, sans-serif;
  font-style: italic;
  border-bottom: 1px solid rgb(228, 228, 228);
  outline: none;
  border-left: none;
  border-top: none;
  border-right: none;
  font-size: large;
}

.clear-all {
  color: gray;
}

.checkbox-description-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (min-width: 768px) {
  .todo-container {
    width: 40vw;
  }

  .editable {
    width: 35vw;
  }

  .checkbox-description-container {
    gap: 15px;
  }

  .add-list {
    width: 100%;
    padding: 20px;
  }
}
