* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
  font-family: Raleway, sans-serif;
}

.todo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 10px gray;
  margin-top: 30px;
}

.header {
    border-bottom: 1px solid rgb(228, 228, 228);
    font-family: Kurale, sans-serif !important;
    vertical-align: middle;
    padding: 20px;
    font-size: large;
}


.footer {
    padding: 20px;
    vertical-align: center;
    text-align: center;
    border-top: 1px solid rgb(228, 228, 228);
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    
}

.list {
    
}

.add-list {
    width: 100%;
    padding: 20px;
    font-family: Raleway, sans-serif;
    font-style: italic;
    border-bottom: 1px solid rgb(228, 228, 228);
    outline: none;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: large;
}