* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, sans-serif;
}

.todo-container {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 10px gray;
  margin-top: 30px;
}

.header {
  border-bottom: 1px solid rgb(228, 228, 228);
  vertical-align: middle;
  padding: 20px;
  font-size: large;
}

.footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgb(228, 228, 228);
}

.ul-container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.checkbox-description-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  color: gray;
  cursor: pointer;
}

.add-list {
  width: 100%;
  padding: 20px;
  font-family: Raleway, sans-serif;
  font-style: italic;
  border-bottom: 1px solid rgb(228, 228, 228);
  outline: none;
  border-left: none;
  border-top: none;
  border-right: none;
  font-size: large;
}

.clear-all {
  color: gray;
}
